/* line 1, ../grid-p/sass/base/_base.sass */
html {
  font-size: 62.5%;
  background-color: #F6F6F6;
}

/* line 5, ../grid-p/sass/base/_base.sass */
body {
  font-family: 'Manrope', sans-serif;
  max-width: 144rem;
  margin: 0 auto;
  padding: 0;
}

/* line 1, ../grid-p/sass/base/_typography.sass */
.img1, .img2, .img3, .img4, .img9, .img10 {
  width: 2.4rem;
  height: 2.4rem;
}

/* line 5, ../grid-p/sass/base/_typography.sass */
.img5, .img6, .img7, .img8 {
  height: 19.5rem;
  width: 20.6rem;
}

/* line 9, ../grid-p/sass/base/_typography.sass */
ul, li {
  list-style-type: none;
  padding: 0rem;
  margin: 0rem;
}

/* line 14, ../grid-p/sass/base/_typography.sass */
.logo1 {
  height: 3.4rem;
  width: 14.8rem;
}

/* line 21, ../grid-p/sass/base/_typography.sass */
.header__logo {
  height: 3.4rem;
}

/* line 24, ../grid-p/sass/base/_typography.sass */
.header__item {
  line-height: 2.7rem;
  font-size: 1.8rem;
}

/* line 28, ../grid-p/sass/base/_typography.sass */
.header__item-1 {
  color: #000;
  text-decoration: none;
}

/* line 32, ../grid-p/sass/base/_typography.sass */
.header__item-2 {
  color: #000;
  text-decoration: none;
}

/* line 36, ../grid-p/sass/base/_typography.sass */
.header__item-3 {
  color: #000;
  text-decoration: none;
}

/* line 43, ../grid-p/sass/base/_typography.sass */
.title__title {
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8rem;
  width: 24.2rem;
}

/* line 50, ../grid-p/sass/base/_typography.sass */
.title__text {
  color: #000;
  font-size: 1.8rem;
  width: 88.7rem;
}

/* line 60, ../grid-p/sass/base/_typography.sass */
.main__item-1 {
  background-color: #fff;
}

/* line 63, ../grid-p/sass/base/_typography.sass */
.main__item-2 {
  background-color: #fff;
}

/* line 66, ../grid-p/sass/base/_typography.sass */
.main__item-3 {
  background-color: #fff;
}

/* line 69, ../grid-p/sass/base/_typography.sass */
.main__item-4 {
  background-color: #fff;
}

/* line 72, ../grid-p/sass/base/_typography.sass */
.main__text {
  font-size: 1.8rem;
}

/* line 75, ../grid-p/sass/base/_typography.sass */
.main__price {
  font-weight: bold;
}

/* line 81, ../grid-p/sass/base/_typography.sass */
.footer__item {
  line-height: 2.7rem;
  font-size: 1.8rem;
}

/* line 85, ../grid-p/sass/base/_typography.sass */
.footer__item-1 {
  color: #000;
  text-decoration: none;
}

/* line 89, ../grid-p/sass/base/_typography.sass */
.footer__item-2 {
  color: #000;
  text-decoration: none;
}

/* line 93, ../grid-p/sass/base/_typography.sass */
.footer__item-3 {
  color: #000;
  text-decoration: none;
}

/* line 1, ../grid-p/sass/content/_box.sass */
.wrapper {
  background-color: #F6F6F6;
}

/* line 4, ../grid-p/sass/content/_box.sass */
.container {
  padding: 0rem 10rem;
}

/* line 7, ../grid-p/sass/content/_box.sass */
.header {
  background-color: #fff;
  margin-bottom: 5.8rem;
}

/* line 11, ../grid-p/sass/content/_box.sass */
.header__position {
  display: flex;
  align-items: center;
}

/* line 15, ../grid-p/sass/content/_box.sass */
.title {
  background-color: #F6F6F6;
  margin-bottom: 5.4rem;
  width: 100%;
}

/* line 20, ../grid-p/sass/content/_box.sass */
.title__position {
  display: flex;
  justify-content: space-between;
  padding-right: 6.3rem;
  height: 16.8rem;
}

/* line 26, ../grid-p/sass/content/_box.sass */
.main {
  background-color: #F6F6F6;
  margin-bottom: 14.7rem;
}

/* line 30, ../grid-p/sass/content/_box.sass */
.main__position {
  height: 106.5rem;
}

/* line 33, ../grid-p/sass/content/_box.sass */
.main__img {
  display: grid;
  justify-content: center;
}

/* line 38, ../grid-p/sass/content/_box.sass */
.footer {
  background-color: #fff;
}

/* line 41, ../grid-p/sass/content/_box.sass */
.footer__position {
  display: flex;
  height: 9.2rem;
}

/* line 3, ../grid-p/sass/content/_insideBox.sass */
.header__link {
  display: flex;
  height: 9.2rem;
  width: 100%;
  justify-content: space-between;
}

/* line 9, ../grid-p/sass/content/_insideBox.sass */
.header__logo {
  margin-right: 7.9rem;
  align-self: center;
  height: 100%;
}

/* line 14, ../grid-p/sass/content/_insideBox.sass */
.header__item {
  display: grid;
  align-items: center;
  grid-template-columns: 4.4rem 7.9rem 9.2rem;
  column-gap: 3.2rem;
  color: #fff;
}

/* line 21, ../grid-p/sass/content/_insideBox.sass */
.header__icon {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1.7rem);
  column-gap: 2.4rem;
}

/* line 29, ../grid-p/sass/content/_insideBox.sass */
.main__item {
  display: grid;
  grid-template-columns: repeat(4, 29.5rem);
  grid-template-rows: repeat(3, 31.1rem);
  gap: 2rem;
}

/* line 35, ../grid-p/sass/content/_insideBox.sass */
.main__item-1 {
  display: grid;
  padding: 1.6rem;
}

/* line 39, ../grid-p/sass/content/_insideBox.sass */
.main__item-2 {
  display: grid;
  padding: 1.6rem;
}

/* line 43, ../grid-p/sass/content/_insideBox.sass */
.main__item-3 {
  display: grid;
  padding: 1.6rem;
}

/* line 47, ../grid-p/sass/content/_insideBox.sass */
.main__item-4 {
  display: grid;
  padding: 1.6rem;
}

/* line 51, ../grid-p/sass/content/_insideBox.sass */
.main__down {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
  width: 100%;
}

/* line 58, ../grid-p/sass/content/_insideBox.sass */
.main__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

/* line 67, ../grid-p/sass/content/_insideBox.sass */
.footer__link {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* line 72, ../grid-p/sass/content/_insideBox.sass */
.footer__item {
  display: grid;
  align-items: center;
  grid-template-columns: 11.5rem 16.3rem;
  column-gap: 4.5rem;
}

/* line 78, ../grid-p/sass/content/_insideBox.sass */
.footer__icon {
  display: grid;
  align-items: center;
  grid-template-columns: 2.4rem 2.4rem;
  column-gap: 2.4rem;
}

/*# sourceMappingURL=style.css.map */