.wrapper
    background-color: #F6F6F6

.container
    // border: .3rem solid black
    padding: 0rem 10rem
    max-width: 144rem
    
.header
    background-color: #fff
    margin-bottom: 5.8rem

    &__position
        display: flex
        align-items: center
    
.title
    background-color: #F6F6F6
    margin-bottom: 5.4rem

    &__position
        height: 16.8rem
    
.main
    background-color: #F6F6F6
    margin-bottom: 14.7rem

    &__position
        height: 106.5rem

.footer
    background-color: #fff

    &__position
        height: 9.2rem