.header

    &__link
        display: grid
        grid-template-columns: repeat(8, 20rem)
        // // grid-template-rows: repeat( 20rem)

    &__logo
        display: grid


    &__item
        display: grid
        grid-template-columns: repeat(3, 20rem)

    &__icon
        // border: .2rem solid black
        display: grid
        justify-items: end
        grid-template-columns: repeat(4, 20rem)
