.header

    &__link
        display: flex
        height: 9.2rem
        width: 100%
        justify-content: space-between

    &__logo
        margin-right: 7.9rem
        align-self: center
        height: 100%

    &__item
        display: grid
        align-items: center
        grid-template-columns: 4.4rem 7.9rem 9.2rem
        column-gap: 3.2rem
        color: $color-white

    &__icon
        display: grid
        align-items: center
        grid-template-columns: repeat(4, 1.7rem)
        column-gap: 2.4rem

.main

    &__item
        display: grid
        grid-template-columns: repeat(4, 29.5rem)
        grid-template-rows: repeat(3, 31.1rem)
        gap: 2rem

        &-1
            display: grid
            padding: 1.6rem

        &-2
            display: grid
            padding: 1.6rem

        &-3
            display: grid
            padding: 1.6rem

        &-4
            display: grid
            padding: 1.6rem

    &__down
        display: flex
        justify-content: space-between
        align-items: flex-end
        height: 100%
        width: 100%
  
    &__text
        display: flex
        flex-direction: column
        justify-content: space-between
        height: 100%


.footer

    &__link
        display: flex
        justify-content: space-between
        width: 100%

    &__item
        display: grid
        align-items: center
        grid-template-columns: 11.5rem 16.3rem
        column-gap: 4.5rem

    &__icon
        display: grid
        align-items: center
        grid-template-columns: 2.4rem 2.4rem
        column-gap: 2.4rem