.img1, .img2, .img3, .img4, .img9, .img10
    width: 2.4rem
    height: 2.4rem

.img5, .img6, .img7, .img8
    height: 19.5rem
    width: 20.6rem 

ul, li 
    list-style-type: none
    padding: 0rem
    margin: 0rem

.logo1
    height: 3.4rem
    width: 14.8rem


.header

    &__logo
        height: 3.4rem

    &__item
        line-height: 2.7rem
        font-size: 1.8rem

        &-1
            color: $color-black
            @include textDecor

        &-2
            color: $color-black
            @include textDecor

        &-3
            color: $color-black
            @include textDecor


.title

    &__title
        color: $color-black
        text-transform: uppercase
        font-weight: 700
        font-size: 1.8rem
        width: 24.2rem

    &__text
        color: $color-black
        font-size: 1.8rem
        width: 88.7rem


.main

    &__item

        &-1
            background-color: $color-white

        &-2
            background-color: $color-white

        &-3
            background-color: $color-white

        &-4
            background-color: $color-white

    &__text
        font-size: 1.8rem

    &__price
        font-weight: bold


.footer

    &__item
        line-height: 2.7rem
        font-size: 1.8rem
        
        &-1
            color: $color-black
            @include textDecor

        &-2
            color: $color-black
            @include textDecor

        &-3
            color: $color-black
            @include textDecor