.img1, .img2, .img3, .img4
    width: 1.6rem
    height: 1.6rem

.header

    &__logo
        height: 3.4rem

    &__item
        line-height: 2.7rem
        font-size: 1.8

ul, li 
    list-style-type: none
    padding: 0rem
    margin: 0rem

.logo1
    
    height: 3.4rem
    width: 14.8rem